body {
  background-color: black;
  font-family:Monospace;
  margin-left:10%;
  margin-right:10%;
  font-size: 14px;
}

blockquote {
  color:grey;
}


pre {
  color:white;
}

h2 {
  color: yellow;
}

h3 {
  color: cyan;
}

p {
  font:Courier;
  color:grey;
}

a {
  text-decoration:none;
}

@font-face{
  font-family: 'MyWebFont';
  src: url('./fonts/Hack-Regular.ttf' format('truetype');
}
